//start global varibales
$light: #fff;
$dark: #000;
$main: #a00808;
//end global varibales
.lifting-content {
  .intro {
    background-image: url("../../assests/images/Lifting-Inspection-bg.webp");
  }
}
